<!DOCTYPE html>
<html lang="en" ng-app="WAM">
<head>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../../vendor/bootstrap/dist/css/bootstrap-theme.min.css"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../vendor/bootstrap/theme.css" rel="stylesheet">


    <script src="../../../vendor/angular/angular.min.js"></script>
    <script src="../../../vendor/angular/angular-route.min.js"></script>

    <script src="controller.js"></script>
    <script src="../app.js"></script>
    <script src="../config.js"></script>
    <script src="../service/test.service.client.js"></script>

    <meta charset="UTF-8">
    <title>Project Home Page</title>
</head>
<body>
    <a class="btn btn-info" ng-click="model.countBmi()"> click to count bmi</a>
</body>
</html>